<div class="container-fluid bg-secondary">
  <div class="row">
    <div class="col lowered">
      <h1 class="display-4 page-title text-center">Restore password</h1>
      <div class="row">
        <div class="col"></div>
        <div class="col-auto ">
          <form #restorePasswordEmailForm="ngForm">
            <div class="form-group ">
              <label class="lead">Enter your e-mail</label>
              <input class="form-control" email type="email" id="email" name="email" [(ngModel)]="userEmail.email" #email="ngModel" required
                     placeholder="Enter email address" (ngModelChange)="emailChange($event)"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" />
              <div *ngIf="!email.value && (!email.pristine || restorePasswordEmailForm.submitted)" class="custom-alert alert-danger">
                Please, enter your e-mail!
              </div>
              <div *ngIf="email.invalid && email.value" class="custom-alert alert-danger">
                E-mail is not valid.
              </div>
              <div *ngIf="emailNotFound" class="custom-alert alert-danger">
                E-mail is not found.
              </div>
            </div>
            <div class="container">
              <div class="form-group row">
                <button type="submit" class="btn btn-info mr-2 col" (click)="getEmail(restorePasswordEmailForm.valid)">OK</button>
                <a routerLink="/welcome" class="btn btn-outline-light col" style="float: right">Back to Main Page</a>
              </div>
            </div>
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>
